@import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Croissant+One&family=Syne:wght@400..800&display=swap");

:root {
  --color-a: #0a0a0a;
  --color-b: #406658;
  --color-c: #4b4b4b;
  --color-d: #223b3f;
  --color-e: #c89295;
  --color-f: #80b7c2;
  --light-font: #ebeaeb;
  --BODY-font-family: "Syne", sans-serif;
  --HEAD-font-family: "Croissant One", Impact, Haettenschweiler, "Arial Narrow Bold",
  sans-serif;
  --BODY-font-size: 1.6rem;
  --BODY-font-style: normal;
  --BODY-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--BODY-font-family);
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.75;
}

/* 65.5% = default, 1rem = 10px */

body {
  background: #1f0318;
  font-size: var(--BODY-font-size);
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: #1f0318;
  width: 100%;
  padding: 2rem 4rem;
  position: fixed;
  z-index: 10;
}

#nav-title {
  color: var(--light-font);
  font-family: var(--HEAD-font-family);
  font-size: 4em;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.card {
  background: rgba(255, 255, 255, 0.322);
  max-width: 90%;
  color: var(--light-font);
  border-radius: 5rem;
  margin: 10em auto;
  padding: 25px 45px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 100%;
  z-index: 5;

}

.grid > *:nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  text-align: center;
  width: 100%;
}

ul,
li {
  list-style: none;
}

.boldSubHead {
  font-family: var(--HEAD-font-family);
  margin: 2rem;
  padding: 1.6rem;
  color: var(--light-font);
  font-weight: bold;
  font-size: 2em;
  border-bottom: 2px solid var(--color-e);
}

.weapons,
.books {
  background: var(--color-b);
  color: var(--light-font);
  padding: 10px 15px;
  font-size: 2rem;
  border-radius: 5rem;
}

#currentDayWeapons,
#currentDayBooks {
  display: block;
  margin: 0px 30px;
  padding: 10px 15px;
  white-space: initial;
}

.search {
  background: var(--color-d);
  border-radius: 35px;
  color: var(--color-g);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#searchOutput {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  padding: 5rem;
}

input {
  font-size: var(--BODY-font-size);
  font-family: var(--BODY-font-family);
  padding: 0.5rem;
  margin: 1rem;
}

.btn {
  background: var(--color-f);
  border-radius: 25px;
  font-family: var(--BODY-font-family);
  padding: 1.6rem;
  font-size: 1.6rem;
}

.btn:hover {
  text-decoration: underline;
}

h4 {
  border: 2px solid var(--color-e);
  border-radius: 10px;
  margin: 1rem auto;
}

/*
  .nav {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    align-items: center;
    gap: 3rem;
    border-bottom: 4px solid #B8A9C7;
    border-radius: 3.6rem;
    background: #1F0318;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
*/
