@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Croissant+One&family=Syne:wght@400..800&display=swap');

:root {
    --color-a: #0a0a0a; /*background*/
    --color-b: #406658; /*card*/
    --color-c: #4b4b4b; /*primary 1 green*/
    --color-d: #223b3f; /*primary 2 dark teal*/
    --color-e: #C89295; /*accent purple*/
    --color-f: #80b7c2; /*accent blue*/
    --light-font: #ebeaeb; /* dark font*/
    --BODY-font-family: "Syne", sans-serif;
    --BODY-font-size: 1.6rem;
    --BODY-font-style: normal;
    --BODY-font-weight: 400;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: var(--BODY-font-family);
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.75;
  }
  
  /* 65.5% = default, 1rem = 10px */
  
  body {
    background: var(--color-a);
    font-size: var(--BODY-font-size)
  }
  
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    border-bottom: 4px solid #84679e;
    width: 100%;
    padding: 2rem 4rem;
    position: fixed;
    z-index: 10;
  }

  #nav-title {
    color: var(--color-f);
    font-family: 'Croissant One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .date {
    background: var(--color-e);
    max-width: 50%;
    border-radius: 35px;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    z-index: -1;
  }

  #checkInBtn {
    margin-left: 2rem;
  }

  /*#checkInBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 40;
  }*/

  .card {
    background: var(--color-b);
    max-width: 90%;
    color: var(--light-font);
    border-radius: 55px;
    margin: 0 auto;
    /*margin: 50px auto;*/
    padding: 25px 45px;
    text-align: center;
    position: relative;
    display: block;
    top: 10em;
  }
  
  .boldSubHead {
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid var(--color-e);
    border-radius: 25px;
  }
  
  /*.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 3rem;
    font-size: 1.6rem;
    margin: 0 auto;
    flex: auto;
  }*/


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  font-size: 1.6rem;
  margin: 0 auto;
}

.grid > *:nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  text-align: center;
}
  
  ul,
  li {
    list-style: none;
  }
  
  .weapons,
  .books {
    background: var(--color-c);
    border-radius: 35px;
    color: var(--light-font);
    padding: 10px 15px;
  }
  
  #currentDayWeapons,
  #currentDayBooks {
    display: block;
    margin: 0px 30px;
    padding: 10px 15px;
   white-space: initial;
  }
  
  .search {
    background: var(--color-d);
    border-radius: 35px;
    color: var(--color-g);
    padding: 10px 15px;
  }

  .links {
    margin-top: 3rem;
  }

 .btn {
    background: var(--color-f);
    border-radius: 25px;
    padding: 1.6rem;
    font-size: 1.6rem;
  }

  .btn:hover {
    text-decoration: underline;
  }
  