@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Croissant+One&family=Syne:wght@400..800&display=swap');

:root {
  --color-a: #0a0a0a; 
  --color-b: #1c1619; 
  --color-c: #d4fcbada; 
  --color-d: #ffffffc2;
  --color-e: #2f2145;
  --color-f: #80b7c2; 
  --color-g: #ebeaeb; 
  --color-h: #000;
  --grid: #2f2145dc;
  --BODY-font-family: 'Syne', sans-serif;
  --HEAD-font-family: 'Croissant One', Impact, Haettenschweiler,
    'Arial Narrow Bold', sans-serif;
  --BODY-font-size: 1.6rem;
  --BODY-font-style: normal;
  --BODY-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--BODY-font-family);
  box-sizing: border-box;
  line-height: 1.75;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: var(--color-a);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-d);
  width: 100%;
  padding: 2rem;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
}

 h1{
  color: var(--color-h);
  font-family: var(--HEAD-font-family);
  font-size: 3.8rem;
  text-decoration: none;
}

.links,
ul {
  display: flex;
  font-size: 1.8rem;
  list-style: none;
}

#nav-links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--color-h);
}

#nav-links a:hover {
  background-color: var(--color-c);
}

.card {
  background: var(--color-d);
  max-width: 90%;
  color: var(--color-h);
  border-radius: 5rem;
  margin: 7rem auto 10rem auto;
  padding: 2.5rem 4.5rem;
  text-align: center;
  position: relative;
  top: 8rem;
}

.boldSubHead {
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--color-h);
  background-color: var(--color-f);
  border: 2px solid var(--color-h);
  border-radius: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 3rem;
  font-size: 1.6rem;
  margin: 2rem auto;
  flex: auto;
}

.weapons,
.books {
  background: var(--grid);
  border-radius: 35px;
  color: var(--color-h);
  padding: 10px 15px;
}

#currentDayWeapons,
#currentDayBooks {
  display: block;
  margin: 1rem 0rem;
  white-space: initial;
  overflow-x: auto;
}

#paimon {
  width: 150px;
  height: 150px;
}

input, button {
  padding: 1rem;
  font-size: var(--BODY-font-size);
  font-family: var(--BODY-font-family);
  margin: 2rem;
}

button:active {
  background-color: var(--color-c);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-d);
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1.8rem;
}

.social-links a {
  padding: 3rem;
}

.social-links i {
  color: var(--color-h);
}

@media only screen and (max-width: 425px) {
  .nav {
    padding: 1rem;
    font-size: 1.4rem;
    position: absolute;
  }
  .links,
  ul {
    flex-wrap: wrap;
  }
  #nav-links a {
    padding: 0.5rem 1rem;
  }  
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    font-size: 1.4rem;
    margin: 1.5rem auto;
  }
  .card {
    padding: 2rem 1rem;
    margin-top: calc(133px - 1rem);
  }
}

/*.counters {
  background: var(--color-d);
  border-radius: 35px;
  color: var(--color-g);
  padding: 10px 15px;
}*/

/*#check-in,
#map,
#wiki {
  background: var(--color-e);
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 1.6rem;
}*/
